.table-row {
  background-color: $color-canvas;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(198, 205, 206, 0.25);
  display: flex;
  flex-direction: column;
  padding: 32px 30px;
  margin-bottom: 20px;

  &.less-padding {
    padding: 20px 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .row-section {
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: solid 1px $color-text-secondary;
    display: flex;
    flex-direction: column;
  }

  .row-section:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .top-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .top-icons-right {
    a {
      display: flex;
      text-decoration: none;
      font-size: 11px;
      font-weight: 600;
      color: #c6cdce;
      margin-bottom: 15px;

      img {
        margin-left: 8px;
      }
    }
  }

  .connected-icon {
    background-color: #fdfffe;
    border: solid 1px $color-text-secondary;
    border-radius: 6px;
    height: 22px;
    color: $color-canvas;
    padding: 0 6px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;

    img {
      width: 8px;
      height: 8px;
      display: inline-flex;
      margin-right: 4px;
    }
  }
}

.heading-label {
  display: flex;
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 11px;
  color: #c6cdce;

  .heading-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: 2px;
    margin-left: 0;

    &.brown-circle {
      background-color: #935804;
    }

    &.blue-light-circle {
      background-color: #56becf;
    }
  }

  span {
    margin-left: 8px;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.asset-title {
  margin-top: 0;
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 20px;

  &.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .asset-type {
    color: $color-text-secondary;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: -9px;
    margin-left: 8px;
  }
}

.row-ctas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;

  a {
    text-decoration: none;
    margin-bottom: 8px;
    min-width: 75px;
  }
}

@media screen and (min-width: 992px) {
  .table-row {
    flex-direction: row;

    .row-section {
      flex: 1;
      padding-right: 20px;
      padding-bottom: 0;
      margin-right: 32px;
      margin-bottom: 0;
      border-bottom: none;
      border-right: solid 1px $color-text-secondary;

      &.row-sectio-two-cols {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &.borrow-view {
      .asset-title {
        display: flex;
        justify-content: space-between;

        .asset-type {
          top: 0;
        }
      }

      .row-section:last-child {
        flex: 1;

        .row-info {
          width: 100%;
        }
      }
    }

    .row-section:last-child {
      flex: 1.2;
      padding-right: 0;
      margin-right: 0;
      border-right: none;
    }
  }

  .row-ctas {
    margin-top: 0;
  }
}
