// COLORS
/* Base Colors */
$color-canvas: #090305;
$color-canvas-inverted: #465253;
$color-brand-primary: #05c1d2;
$color-brand-secondary: #ffffff;
$color-brand-tertiary: #2c4243;
$color-brand-quaternary: #935804;
$color-text-primary: #ffffff;
$color-text-secondary: #738688;
